<h1><%= content_for(:title, "The \"Not Your Father's Notes App\"") %></h1>



<div class="form-group center-vertically">
  <%= link_to 'New Note', new_note_path, class: "new-note form-control btn btn-primary" %>
</div>


